# More on JSON

Your are provided data of a company and its employess in Json formate.
You need to perform EDA and solve the problems listed down.

In [57]:
# Load Libraries
import numpy as np
import pandas as pd
import json
!pip install geopy

from geopy.geocoders import Nominatim
from datetime import datetime
from google.colab import drive
drive.mount('/content/drive')

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Question 1:**

Retrieve and display the company's name and location from the JSON data.

In [39]:
#code Here
file_path = '/content/drive/My Drive/employee_company_data.json'
with open(file_path, 'rb') as f:
  company_data = json.load(f)

In [40]:
company_info = company_data['company_info']['name']
company_locations = company_data['office_locations']

print(f"Name of campnay: {company_info}\n Location of offices are: {company_locations}")

Name of campnay: TechCorp
 Location of offices are: {'san_francisco_hq': {'street': '500 Tech Plaza', 'city': 'San Francisco', 'state': 'CA', 'zipcode': '94105'}, 'new_york_branch': {'street': '123 Wall St', 'city': 'New York', 'state': 'NY', 'zipcode': '10005'}}

In [41]:
company_data.keys()

dict_keys(['metadata', 'employees', 'departments', 'company_info', 'office_locations', 'benefits'])

Convert given employees data into a dataframe.

**Question 2:**

 Find and display the first name, last name, and email address of the employee with ID 3.

In [42]:
#code Here
employee_data = company_data['employees']
#type(employee_data)
for employee in employee_data:
  if employee['id'] == 3:
    print(f"Employee First Name: {employee['firstName']}\n Employee Last Name: {employee['lastName']}\n Employee Email: {employee['email']}")

Employee First Name: Bob
 Employee Last Name: Johnson
 Employee Email: bob.johnson@techcorp.com

**Question 3:**

Find the department with the most employees, and display its name along with the number of employees it has.

In [43]:
# code Here
department_data = company_data['departments']
print(department_data)
max_employee = max(len(employees) for employees in department_data.values())
max_employee
for key in department_data:
  if(len(department_data[key]) == max_employee):
    print(key)

#max_departments = [department for department, employees in department_data.items() if len(employees) == max_employee]
#print(f"Departments with the most employees: {max_departments}")
#print(f"Number of employees in these departments: {max_employee}")

{'engineering': ['John Doe', 'Alice Smith'], 'product_management': ['Bob Johnson', 'Emily Wilson'], 'design': ['Emily Wilson']}
engineering
product_management

**Question 4:**

Retrieve and display the street addresses of the "san_francisco_hq" and "new_york_branch" office locations.

In [44]:
# code Here
office_locations_data = company_data['office_locations']
san_francisco = office_locations_data['san_francisco_hq']['street']
new_york = office_locations_data['new_york_branch']['street']
print(san_francisco)
print(new_york)

500 Tech Plaza
123 Wall St

**Question 5:**

Determine whether the company offers health insurance and a retirement plan. Provide the results as "Yes" or "No."

In [45]:
# code Here
benefits = company_data['benefits']
for key in benefits:
  if(benefits[key] == True):
    print(key, benefits[key])

health_insurance True
retirement_plan True

**Question 6:**

Display the version and last updated date from the metadata section of the JSON data.

In [46]:
# code Here
version = company_data['metadata']['version']
last_updated = company_data['metadata']['last_updated']
print(f"Version: {version} and last updated was: {last_updated}")

Version: 1.0 and last updated was: 2023-09-30

**Question 7:**

 Sort the employees by their hire date in ascending order and display the first five employees in the sorted list.

In [47]:
# code Here
sorted_employees = sorted(company_data['employees'], key=lambda x: datetime.strptime(x['hireDate'], '%Y-%m-%d'))

for employee in sorted_employees[:5]:
    print(f"{employee['firstName']} {employee['lastName']} - Hire Date: {employee['hireDate']}")

Bob Johnson - Hire Date: 2018-03-10
Alice Smith - Hire Date: 2019-08-22
John Doe - Hire Date: 2020-05-15
Emily Wilson - Hire Date: 2021-02-28

**Question 8:**

Count the number of employees in the dataset and display the result.

In [48]:
# code Here
count_employees = len(company_data['employees'])
count_employees

4

**Question 9:**

Identify employees who do not have a manager (i.e., manager field is empty), and display their names and positions.

In [51]:
  # code Here
employee_data = company_data['employees']
for employee in employee_data:
    if not employee.get('manager'):
          print(f"{employee['firstName']} {employee['lastName']} - {employee['position']}")
          print("Employee does not have a manager or field is empty")
    else:
      print(f"{employee['firstName']} {employee['lastName']} - {employee['position']}")
      print("Employee has a manager")

John Doe - Software Engineer
Employee has a manager
Alice Smith - Data Analyst
Employee has a manager
Bob Johnson - Product Manager
Employee has a manager
Emily Wilson - UX Designer
Employee has a manager

**Question 10: Bonus Part**

Using a geocoding service or library of your choice (e.g., geopy), convert the street addresses of all office locations into latitude and longitude coordinates. Then, provide the coordinates for each office location.

In [59]:
office_locations_data = company_data['office_locations']
office_locations_data

#san_francisco = office_locations_data['san_francisco_hq']['street']
#new_york = office_locations_data['new_york_branch']['street']

{'san_francisco_hq': {'street': '500 Tech Plaza',
  'city': 'San Francisco',
  'state': 'CA',
  'zipcode': '94105'},
 'new_york_branch': {'street': '123 Wall St',
  'city': 'New York',
  'state': 'NY',
  'zipcode': '10005'}}